@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Hanken Grotesk', sans-serif;
    --prime-colour: #163428;
    --prime-light-colour: #345D4D;
    --bg-colour: #FAF9F6;
    --bg2-colour: #EEEEEA;
    --fg-colour: #FFFFFF;
    --outline-colour: #C1C8C3;
    --text-colour: #424844;

    --size-4: 4px;
    --size-6: 6px;
    --size-10: 10px;
    --size-16: 16px;
    --size-26: 26px;
    --size-42: 42px;
    --size-68: 68px;
    --size-110: 110px;
    --size-188: 118px;
    --size-304: 304px;
    --size-492: 492px;
    --size-796: 796px;
}

@layer base {
    body, div, input {
        font-family: var(--font-sans);
        color: var(--text-colour);
    }

    ::placeholder {
        color: var(--outline-colour);
    }
    :focus {
        outline: none;
    }
    body {
        margin: 0;
    }

    th {
        border-right-width: 1.5px;
        border-color: var(--prime-light-colour);
        padding-inline: var(--size-16);
        padding-block: var(--size-10);
        font-weight: 600;
        color: var(--fg-colour);
        text-align: center;
        white-space: nowrap;
    }

    td {
        border-right-width: 1.5px;
        border-color: var(--outline-colour);
        padding-inline: var(--size-16);
        padding-block: var(--size-10);
        text-align: center;
        white-space: nowrap;
    }
}

@layer components {
    /*input container style*/

    .input-container {
        font-size: var(--size-16);
        display: flex;
        flex-direction: column;
        gap: var(--size-10);
    }

    .input-container label {
        font-weight: 600;
        color: var(--text-colour);
        white-space: nowrap;
    }

    .input-text {
        background-color: var(--bg-colour);
        border-radius: var(--size-16);
        padding: var(--size-6) var(--size-16);
        border-width: 1.5px;
        border-color: var(--outline-colour);
    }

    .input-button {
        font-size: var(--size-16);
        font-weight: 500;
        display: flex;
        flex-direction: row;
        gap: var(--size-10);
        padding: var(--size-16) var(--size-26);
        justify-content: center;
        align-items: center;
        background-color: var(--prime-colour);
        color: var(--fg-colour);
        border-radius: var(--size-16);
        white-space: nowrap;
        flex-shrink: 0;
    }

    .input-button:disabled {
        background-color: var(--color-slate-400);
        color: var(--fg-colour);
    }
}
